.contactContainer {
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}



@media screen and (max-width: 768px) {
    .title {
        text-align: left;
    }

}